.container-bg {
  background-color: aliceblue;
  margin-left: 10%;
  margin-right: 10%;
  height: 80vh;
}

.log-scroll {
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: scroll;
}

.page-controls {
  background-color: aquamarine;
  margin-right: 10%;
  float: right;
}